<h1 class="mb-4">{{ heading }}</h1>

<div class="task-add-button mb-4">
    <a href="/task/add" class="btn btn-warning">Add Task</a>
</div>

<div class="tasks-wrap">
    {% for task in tasks %}
        <div class="card task-item mb-4" style="width: 18rem;">
            <img src="/img/{{ product.img }}" class="card-img-top" alt="{{ product.name }} img">
            <div class="card-body bg-dark">
                <h5 class="card-title">{{ task.author }}</h5>
                <p class="card-text">{{ task.email }}</p>
                <p class="card-price">{{ task.text }}</p>
                <a href="/task/edit/{{ task.id }}" class="btn btn-primary btn-sm">Edit</a>
                <button role="button"
                        data-id="{{ task.id }}"
                        class="btn btn-success btn-sm buy">Ready
                </button>
            </div>
        </div>
    {% endfor %}
</div>